<div class="row align-items-center" [formGroup]="groupForm">
    <div class="col-12 d-flex justify-content-between p-2 bg-primary">
        <span class="container-name">{{groupForm.controls['name'].value}}</span>
        <button class="btn btn-outline-light btn-sm" (click)="addComponent()">Add Component</button>
    </div>
    <hr>
    <div class="col-auto">
        <label for="group-name" class="form-label">Name</label>
        <input id="group-name" class="form-control form-control-sm" formControlName="name" placeholder="Name">
    </div>
    <div class="col-auto">
        <label for="group-desc" class="form-label">Desc</label>
        <input id="group-desc" class="form-control form-control-sm" formControlName="desc" placeholder="Description">
    </div>
    
    <div class="col-12 m-1">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Reference</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr component-form *ngFor="let component of (groupForm.get('components'))['controls']; let idx=index" [form]="component" [index]="idx" (delete)="deleteComponent($event)">
                </tr>
            </tbody>
        </table>
    </div>
</div>
