.main-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.editor-container{
    width: 60%;
    padding: 0px 20px;
    font-size: 9px;
}

.diag-container{
    padding: 0px 20px;
}

.editor-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-around;

    button{
        margin: 5px 10px;
    }
}

.btn-active{
    background: lightgreen;
}