.any-container{
    border: 1px solid lightgray;
    border-radius: 5px !important;
    margin: 0px 10px;
    padding: 0px 10px 10px 10px;
}

.btn-container{
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
}
.ctn{
    margin: 20px 0px;
    border-radius: 5px;
}