<div [formGroup]="specForm" class="ctn">
    <div class="btn-container d-flex flex-row-reverse">
        <button class="btn btn-primary" (click)="addGroup()">Add Group</button>
    </div>
    <div class="any-container">
        <meta-form [form]="specForm.controls.meta"></meta-form>
    </div>
    <div>&nbsp;</div>
    <div class="any-container" *ngIf="specForm.controls.groups.controls.length>0">
        <group-form *ngFor="let group of specForm.controls.groups.controls; let idx=index" [form]="group" [index]="idx"></group-form>
    </div>
    <div>&nbsp;</div>
    <div class="any-container" *ngIf="specForm.controls.groups.controls.length>0">
        <div class="col-12 d-flex justify-content-between p-2 bg-primary">
            <span class="container-name">Connections</span>
            <button class="btn btn-outline-light btn-sm" (click)="addConnection()">Add Connection</button>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Bidirectional?</th>
                    <th>Icon</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr connection-form *ngFor="let connection of specForm.controls.connections.controls; let idx=index" [form]="connection" [index]="idx" (delete)="deleteConnection($event)"></tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 
<div>
    <pre>{{this.specForm.value | json}}</pre>
</div> -->