<div class="row align-items-center" [formGroup]="connectionForm">
    <div class="col-auto">
        <label for="meta-title" class="form-label">Title</label>
        <input id="meta-title" class="form-control form-control-sm" formControlName="title" placeholder="Title">
    </div>
    <div class="col-auto">
        <label for="meta-updatedBy" class="form-label">Updated By</label>
        <input id="meta-updatedBy" class="form-control form-control-sm" formControlName="updatedBy" placeholder="Updated By">
    </div>
</div>